body {
    background-color: lightseagreen;
    font-family: Tahoma, sans-serif;
}

#container {
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    margin-inline: auto;
    padding: 25px;
    font-weight: 250;
}

#container h2 {
    margin: 0;
}

#container p {
    font-style: italic;
    color: gray;
    margin: 5px 0;
}